.submitBtnContainer {
  text-align: center;
  margin: 16px;
  button {
    color: #fff;
    background-color: #1677ff;
    border: 1px solid transparent;
    padding: 5px 15px;
    border-radius: 3px;
  }
}
